# Django #
############
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
celerybeat-schedule

# Installer logs #
##################
pip-log.txt
pip-delete-this-directory.txt

# Environments #
################
.env*
.venv