# Mac #
############
.DS_Store

# Django #
############
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Installer logs #
##################
pip-log.txt
pip-delete-this-directory.txt

# Environments #
################
.env
.venv

# VS Code #
################
.vscode/

# Django i18n #
################
*.mo

# Coverage #
################
junit/
htmlcov/
.coverage
coverage.*